<tr id="<%= dom_id(export_item) %>" class="<%= cycle('odd','even') %> <%= @export.modifiable? ? 'handle' : '' %>">
  <td class="row_title"><%= export_item.name %></td>
  <td><%= export_item.rexport_field %></td>
  <td class="table_icons">
    <%= link_to(image_tag('icon_edit.gif'), edit_export_item_path(export_item)) if @export.modifiable? %>
    <%= link_to_delete(export_item, text: false) if @export.modifiable? %>
  </td>
</tr>
